<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add transaction</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/header.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/addTransaction.css}" type="text/css" rel="stylesheet">
    <script defer th:src="@{/js/addTransaction.js}"></script>
</head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <article id="article-form">
        <section id="section-form">
            <form id="post-form" th:action="@{/api/user/addTransaction}" method="post">
                <select name="relarionship" id="relationship" required>
                    <option value="" disabled selected>Sélectionner une relation</option>
                    <option th:each="connection :${connections}" th:text="${connection}" th:value="${connection}"></option>
                </select>
                <input type="test" name="description" placeholder="Description" id="description">
                <input type="number" name="amount" placeholder="Montant" id="amount" required>
                <input type="submit" value="Payer" name="pay" id="pay">
            </form>
        </section>
        <section id="section-table">
            <h1>Mes transactions</h1>
            <tbody>
                <table>
                    <tr>
                        <th>Relation</th>
                        <th>Description</th>
                        <th>Montant</th>
                    </tr>
                    <tr th:each="transaction : ${transactionsDTO}">
                        <td th:text="${transaction.getRelationship()}"></td>
                        <td th:text="${transaction.getDescription()}"></td>
                        <td th:text="${transaction.getAmount()}"></td>
                    </tr>
                </table>
            </tbody>
        </section>
    </article>
</body>

</html>