body{
    font-family: Arial, Helvetica, sans-serif;
}
#login-form{
    display:grid;
    margin: 150px auto;
    width: fit-content;
    justify-items: center;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
}
#title{
    margin: 30px 10px;
    font-weight: bold;
    background-color: #F69F1D;
    width: 150px;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    border-width: 0px;
    padding: 12px 5px;
    color: white;
}
#register{
    p{
        margin: 10px auto;
        font-size: 12px;
    }
    a{
        background-color: #F69F1D;
        text-decoration: none;
        color:white;
        text-align: center;
        font-weight: normal;
        font-size: 14px;
        width: 100%;
        margin: 10px auto;
        padding: 10px 0px;
        border-radius: 3px;
        display: block;
    }

}
#title h1{
    margin: 0px;
}
#login-section{
    margin: auto;
}

.textfeild{
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    padding: 5px;
    margin: 10px 30px;
    background-color: #FFFFFF;
}
.textfeild:focus{
    outline: none;
}
.textfeild::-webkit-input-placeholder {
    font-weight: bold;
}
#submit{
    background-color: #207FEE;
    color: #FFFFFF;
    border-radius: 3px;
    border-width: 0px;
    padding: 5px;
    margin: 10px 30px;
    aspect-ratio: 18/4;
    width: 140px;
    font-weight: bold;

}
